<h1>VR Notes</h1>

<p>Login to view the notes associated with your occulus session(s).</p>

<p>Currently, the Occulus application we are integrating with has no authentication. For now we are just user fake users. You can login as any of our test users to demo ththe functionality of the app. Available test usernames are "Zero Cool" and "John Doe". Any password will work for right now.</p>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= form_with model: @user, url: session_path do |form| %>
      <div class="mb-3 form-group">
        <%= form.label :username %>
        <%= form.text_field :username, { class: "form-control", rows: 3 } %>
      </div>
      <div class="mb-3 form-group">
        <%= form.label :password %>
        <%= form.password_field :password, { class: "form-control", rows: 3 } %>
      </div>
      <div class="mb-3">
        <%= form.submit "Sign In", { class: "btn btn-primary" } %>
      </div>
    <% end %>
  </div>
</div>

