<div class="row">
  <div class="col-md-11">
    <h1>My Annotations</h1>
  </div>

  <div class="col-md-1">
    <button type="button" class="btn btn-primary pull-right" data-bs-toggle="modal" data-bs-target="#share-modal">
      Share
    </button>
  </div>
</div>

<div class="row">
  <% @annotated_objects.each do |annotated_object| %>
    <div class="col-md-4">
      <model-viewer loading="eager" ar ar-modes="webxr" camera-controls src="<%= annotated_object.url %>" style="height: 500px; --poster-color:#ffffff00;" alt="A 3D model">
        <% annotated_object.annotations.filter{ |a| a.annotation.present? && a.coordinates.present? }.each.with_index do |annotation, i| %>
          <div class="hotspot" slot="hotspot-<%= i %>" data-position="<%= annotation.coordinates.tr("(),", "") %>" data-visibility-attribute="visible">
            <div class="annotation">
              <p>
                <%= i + 1 %>
              </p>
            </div>
          </div>
        <% end %>
      </model-viewer>
    </div>
    <div class="col-md-8">
      <% annotated_object.annotations.filter{ |a| a.annotation.present? && a.coordinates.present? }.each.with_index do |annotation, i| %>
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title"><%= i + 1 %></h5>
            <p class="card-text"><%= annotation.annotation %></p>
            <p class="card-text"><small class="text-muted">Last updated <%= time_ago_in_words(annotation.updated_at || annotation.created_at) %></small></p>
            <%= link_to "Edit", edit_user_annotated_object_annotation_path(@user, annotated_object, i), class: "btn btn-primary" %>
          </div>
          <% if annotation.screenshot_url.present? %>
            <img src="<%= annotation.screenshot_url %>" class="card-img-bottom" alt="Image of 3D model">
          <% end%>
        </div>
      <% end%>
    </div>
  <% end %>
</div>

<div class="modal fade" id="share-modal" tabindex="-1" aria-labelledby="share-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<h5 class="modal-title" id="share-modal-label">Share</h5>
	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
	<p>
	Share your note with a friend to help them study. Just copy the following link to your clipboard and forward it on.
	</p>

	<p>
	<mark><%= request.original_url %></mark>
	</p>
      </div>
      <div class="modal-footer">
	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	<button type="button" class="btn btn-primary" onclick="navigator.clipboard.writeText('<%= request.original_url %>');">Copy</button>
      </div>
    </div>
  </div>
</div>
