<h1>Edit Annotation</h1>

<%= form_with model: [@user, @annotated_object, @annotation] do |form| %>
    <div class="mb-3">
      <%= form.text_area :annotation, { class: "form-control", rows: 3 } %>
    </div>
    <div class="mb-3">
      <%= form.submit "Save", class: "btn btn-primary" %>
    </div>
<% end %>

<%= form_with model: [@user, @annotated_object, @annotation], method: :delete do |form| %>
  <%= form.submit "Delete", class: "btn btn-danger" %>
<% end %>
